@()

<div class="form">
    <input type="hidden" name="id" id="add-review-id" value="{{id}}">
    <input type="hidden" name="version" id="add-review-version" value="{{version}}">
    <input type="hidden" name="rating" id="add-review-rating" value="{{score}}">
    <div class="control-group">
        <label for="add-review-comment" class="control-label">Comment</label>
        <div class="controls">
            <textarea name="comment" cols="50" rows="1" aria-label="Comment" id="add-review-comment" placeholder="Write a comment...">{{comment}}</textarea>
        </div>
    </div>
</div>