@(product: Product, variant: Variant, category: Category, comments: List[Comment], addReviewForm: Form[productForm.AddReview])

@scripts = {
    <script src="@routes.Assets.at("javascripts/product.js")"></script>
    <script src="@routes.Assets.at("javascripts/cart.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.rateit.js")"></script>

    <script id="add-review-template" type="text/x-handlebars-template">

    </script>
}

@main(product.getName, "product", scripts){
    <div class="navigation">
        @helper.topNavigation()
        @helper.mainNavigation(category)
    </div>
    @helper.breadcrumb(category)
}{
    <div id="product-detail" class="product-detail clearfix">
        <div class="detail">
            <div class="info">
                <img class="img-polaroid" src="@variant.getFeaturedImage.getSize(ImageSize.LARGE).getUrl"/>
                <div class="product-name">
                    <p>@product.getName</p>
                </div>
            </div>
                      
             <div class="comments">              
				@for(comment <- comments) {
					<div class="comment">
						<img src="//www.roomido.com/bundles/gujhomestylrfrontend/images/placeholder_avatar_300x300.png" width="50px" />
						<span>Hans-Thomas Hackenbrecht</span>
						<p>Usually I don't comment, but this product is so NICE, so I had to!!</p>						
					</div>
				}
                
				<div class="rateit"  id="rateit" data-rateit-value="0" data-rateit-ispreset="true" data-rateit-readonly="false"></div>
            	<span id="rateit-info"></span>
            	
         		<script type="text/javascript">
    				$("#rateit").bind('rated', function (event, value) { $('#rateit-info').text(value + '/5 bewertet');});
    				$("#rateit").bind('reset', function () { $('#rateit-info').text('Rating reset'); });
    				$("#rateit").bind('over', function (event, value) { $('#rateit-info').text(value + '/5'); });
				</script>
                
                <form method="post" action="@routes.Products.review(product.getSlug, variant.getId)" id="form-add-review">
                    @form.addReview(addReviewForm)
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <aside class="action">
            <h5>@product.getName</h5>

            <h6>Overview</h6>
            <p>@Html(abbreviate(product.getDescription, 200))</p>

            <h4>@variant.getPrice.getValue</h4>
            
            <div class="rateit"  id="global-rateit" data-rateit-value="4.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>

            <div class="product-info-variants">
                @if(hasMoreColors(product)) {
                <div class="product-info-variants-color">
                    <ul>
                        @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
                        <li class="@if(matchedVariant.getId == variant.getId){active}">
                            <a href="@getProductUrl(product, matchedVariant, category)">
                                <img src="@matchedVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl" class="img-circle" title="@matchedVariant.getString("color")" />
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }

                @if(hasMoreSizes(product)) {
                <div class="product-info-variant product-info-variant-size">
                    <label>Size</label>
                    <ul>
                        @for(matchedVariant <- getPossibleVariants(product, variant, "size")) {
                        <li class="@if(matchedVariant.getId == variant.getId){active}">
                            <a href="@getProductUrl(product, matchedVariant, category)" data-variant="@matchedVariant.getId">
                                @matchedVariant.getString("size")
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }

            @for(attribute <- product.getAttributes) {
                @if(attribute.getName != "color" && attribute.getName != "size") {
                @if(hasMoreAttributeValues(product, attribute.getName)) {
                <div class="product-info-variant">
                    <label>@capitalizeInitials(attribute.getName) option</label>
                    <ul>
                        @for(matchedVariant <- getPossibleVariants(product, variant, attribute.getName)) {
                        <li class="@if(matchedVariant.getId == variant.getId){active}">
                            <a href="@getProductUrl(product, matchedVariant, category)">
                                @matchedVariant.getString(attribute.getName)
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }
                }
            }
            </div>

            <div class="product-info-buy">
                <form id="form-add-to-cart" action="@routes.Carts.add" method="post">
                    <input type="hidden" name="productId" value="@product.getId" />
                    <input type="hidden" name="variantId" value="@variant.getId" />
                    <input type="number" name="quantity" value="1" min="1" max="10" class="input-mini" />
                    <div>
                        <button type="submit" name="addToCart-product" data-loading-text="Adding..." class="btn btn-success btn-large">
                            <i class="icon-shopping-cart icon-white"></i> Add to Cart
                        </button>
                    </div>
                </form>
            </div>

        </aside>

	<div class="rateit">
	</div>

    </div>
}{

}
